<div class="bg"></div>
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3" id="welcome">Plainview</h1>
	    <hr class="my-2" style="clear: both; visibility: hidden;">
		<h3 class="display-3" id="welcome">Better experience > Better content > Better data</h3>
	</div>
</div>
<div class="container">
	<h2>What is Plainview?</h2>
	<p>Plainview is a website for online discussions. It was founded on the idea that previous platforms for online conversations did not
	suffice for creating meaningful exchanges. Plainview encourages good behavior when discussing topics by holding people accountable for their
	words.</p>
	<h2>What is a discussion?</h2>
	<p>A discussion is set of responses initiated by one poster. The discussion could be about anything: politics, philosophy, science, and more. 
	It is made up of a collection of responses that multiple people can make and contribute to. </p>
	<h2>What is a response?</h2>
	<p>A response is added to a discussion by a person participating in the discussion. It is directly linked to another response, and has a response type.
	The response type indicates what the goal of the response is: to disagree, to agree, or to ask for clarification, for example. </p>
</div>