<link rel='stylesheet' href='/stylesheets/graph.css' />

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/javascripts/dagre-d3.js"></script>
<script src="/javascripts/test.js"></script>

<svg id="debateExperience" width=100% height=100%><g/></div>

<div class="discussionId" id="{{discussionId}}"></div>