<link rel='stylesheet' href='/stylesheets/graph.css' />

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/javascripts/test.js"></script>

<svg id="debateExperience"></div>

<div class="discussionId" id="{{discussionId}}"></div>