
<div class="container">  
	<div class="pull-right">   
		<div class="btn-toolbar" role="group" aria-label="...">
		<a class="btn btn-primary" href="/tags" role="button">Tags</a>
		<a class="btn btn-primary" href="/users" role="button">Users</a>
		<a class="btn btn-primary" href="/blocks/new" role="button">Start an argument</a>
		</div>
	</div>
	<h3>Top arguments today</h3>
	<ul class="list-group">
	  <li class="list-group-item">Stop and frisk should be enforced in New York City</li>
	  <li class="list-group-item">Particiapating in the Paris Agreement is the only widespread solution to solving global warming</li>
	  <li class="list-group-item">There is no God</li>
	  <li class="list-group-item">Trump is not qualified to be the President of the United States</li>
	</ul>
</div>