<div class="jumbotron jumbotron-fluid">
	<div class="container">
	  <h1 class="display-3">Welcome to Plainview!</h1>
	  <p class="lead">Search for discussions, responses, tags, and more</p>
	  <input class="typeahead form-control" type="text" placeholder="Search Plainview" id="front-search" name="responseTitle">
	  <hr class="my-2">
	  <p class="lead">
	    <a href="/">Learn more</a> about our guidelines and how to get started
	  </p>
  </div>
</div>
<div class="container">
	<h3>Top Responses</h3>
    <div class="list-group">
    {{#each discussions}}
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading">Title</h5>
            <p class="list-group-item-text">Body</p>
        </a>
    {{/each}}
    </div>
</div>