
<div class="container">
	<h3>Top Responses</h3>
    <div class="list-group">
    {{#each discussions}}
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading">Title</h5>
            <p class="list-group-item-text">Body</p>
        </a>
    {{/each}}
    </div>
</div>