<!-- <div class="jumbotron jumbotron-fluid">
	<div class="container">
	  <h1 class="display-3" id="welcome">Welcome to Plainview!</h1>
	  <input class="typeahead form-control" type="text" placeholder="Search Plainview" id="front-search" name="responseTitle">
	  <hr class="my-2">
	  <p class="lead">
	    <a href="/">Learn more</a>
	  </p>
  </div>
</div> -->
<div class="bg"></div>
<div class="jumbotron">
	<div class="container">
		<h2 class="display-3" id="welcome">Welcome to Plainview!</h2>
		<input class="typeahead form-control" type="text" placeholder="Search discussions, responses, and tags" id="front-search" name="responseTitle">
	    <hr class="my-2" style="clear: both; visibility: hidden;">
		<p class="lead">
		    <a href="/about" id="jumbotron-link">Learn more</a>
		  </p>
	</div>
</div>
<div class="container">
	<h3>Top Responses</h3>
    <!-- <div class="list-group">
    {{#each discussions}}
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading">Title</h5>
            <p class="list-group-item-text">Body</p>
        </a>
    {{/each}}
    </div> -->
    {{#each responses}}
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail responseTile">
	      <div class="caption">
			<div class="pull-right dropdown">
			    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-option-vertical responseTileDropdown"></span></a>
			    <ul class="dropdown-menu dropdown-menu-right">
			        <li><a href="../discussions/id/{{this.original_discussion}}">Go to original discussion</a></li>
			        <li><a href="">Copy reference id</a></li>
			    </ul>
			</div>
	       	<h5 class="responseSampleTitle"><b>{{this.title}}</b></h5>
	        </br>
	        <div class="responseSampleThumbnail">{{this.text}}</div>
	      </div>
	    </div>
	  </div>
	{{/each}}
</div>