text {
  font-weight: 300;
  font-family: "Helvetica Neue", Arial, sans-serf;
  font-size: 14px;
  -moz-user-select: text;
}

.d {
	fill: red;
	-moz-user-select: all;
}

.node rect {
  stroke: #333;
  fill: #fff;
  max-width: 20px;
  max-height: auto;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}