/*div {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}*/

/*.jumbotron {
  background-image: url(../images/congruent_outline.png);
}

.jumbotron #welcome{
  color: white;
}*/

#jumbotron-link {
  color: #e21616;
  text-decoration: none;
}

.bg {
  background: url('/images/footer_lodyas.png');
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

#newDiscussionPanel {
  padding: 30px;
}

.jumbotron {
  height: 350px;
  color: #eaeaea;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  margin-bottom: 0px;
}

#front-search {
  width: 100%;
  height: 50px;
  font-size: 24px;
  padding-left: 6px;
}

.list-group-item{
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
    padding-bottom: 20px;
    padding-top: 20px;
}

#infoPanelHeading {
  word-wrap: break-word;
  word-break: break-all;
}

.citation {
  font-size: 12px;
  font-style: italic;
}

.control.glyphicon {
  position: static;
}

.citationResponse {
  fill: blue;
}

.testsex {
	fill: black;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	border: blue;
}

.reply-button {
  font-family: sans-serif;
}

.unselected-node {
  fill: black;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  border: blue;
}

/*.hiddenthing {
	display: none;
}

.vizzything {
	display: inline-block;
}*/

.selected-node {
  fill: black;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
}

.responseSampleThumbnail {
   width: 90%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

#logo {
  padding-bottom: 17px;
  padding-top: 13px;
  padding-left: 10px;
  display: inline-block
}

.navbar-brand {
  padding: 0px;
  width: 100%;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

.originalResponse {
  color: black;
  align-content: space-between;
  width: 400px;
  max-width: 400px;
  text-align: left;
  line-height: 150%;
  fill: black;
  word-wrap: break-word;
}

.inputTemplate {
  color: black;
  width: 100%;
}

.citationResponse {
  color: blue;
  align-content: space-between;
  max-width: 400px;
  text-align: left;
  line-height: 150%;
}

.responseTitle {
  color: black;
  font-weight: bold;

}

.tabrow {
  position: relative;
}

#graphContainer {
	max-width: 50%;
	max-height: 50%;
	align-content: center;

}

#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.node {
  white-space: nowrap;
}

.top-buffer { margin-top:20px; }

.node rect,
.node circle,
.node ellipse {
  stroke: #333;
  fill: #fff;
  stroke-width: 0.66px;
}

#citationIdInput::-webkit-input-placeholder { font-style: italic; }
#citationIdInput::-moz-placeholder { font-style: italic; }

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-suggestion:hover { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    background-color: #efefef;
    cursor: pointer;
}
.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    /*box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion p {
    margin: 0;
}

.modal.modal-wide .modal-dialog {
  width: 66%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

#responses {
  height: 400px; 
  overflow: auto;
}
