.citation {
  font-size: 12px;
  font-style: italic;
}

.selected-node {
  fill: red;
}

.unselected-node {
  fill: black;
}

#graphContainer {
	max-width: 50%;
	max-height: 50%;
	align-content: center;

}

#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.node {
  white-space: nowrap;
}

.node rect,
.node circle,
.node ellipse {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}
