/*div {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}*/

#infoPanelHeading {
  word-wrap: break-word;
  word-break: break-all;
}

.citation {
  font-size: 12px;
  font-style: italic;
}

.control.glyphicon {
  position: static;
}

.citationResponse {
  fill: blue;
}

.reply-button {
  font-family: sans-serif;
}

.unselected-node {
  fill: black;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  border: blue;
}

.selected-node {
  fill: black;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
}

.responseSampleThumbnail {
   width: 90%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.originalResponse {
  color: black;
  align-content: space-between;
  width: 400px;
  max-width: 400px;
  text-align: left;
  line-height: 150%;
  fill: black;
}

.inputTemplate {
  color: black;
  width: 100%;
}

.citationResponse {
  color: blue;
  align-content: space-between;
  max-width: 400px;
  text-align: left;
  line-height: 150%;

}

.responseTitle {
  color: black;
  font-weight: bold;

}

.tabrow {
  position: relative;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    border-right: solid;
    border-left: solid;
    border-top: solid;
    border-width: 1px;
    border-color: grey;
    padding: 6px;
    margin: 2px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 12px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}

#graphContainer {
	max-width: 50%;
	max-height: 50%;
	align-content: center;

}

#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.node {
  white-space: nowrap;
}

.node rect,
.node circle,
.node ellipse {
  stroke: #333;
  fill: #fff;
  stroke-width: 0.66px;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-suggestion:hover { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    background-color: #efefef;
    cursor: pointer;
}
.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    /*box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion p {
    margin: 0;
}
